body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-color: #E1E5EE;
    margin: 0;
    padding: 0;
  }